{% extends "::layout.html.twig" %}

{% block body %}
	<form class="form-horizontal span7" method="POST" action="{{ path('avatar_select') }}">
	  	<fieldset>
		    <legend>Choose your avatar</legend>
		    <br/>
		    <div class="form-group">
		      <label for="inputFile" class="col-lg-2 control-label">Picture: </label>
		      <div class="col-lg-20">
		        <input type="file" name="img_avatar" class="form-control" id="inputFile" maxlength="10000">
		      </div>
		    </div>
		    <br/>
		    <hr>
			<div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
	    	</div>
		</fieldset>
	</form>
{% endblock %}