{# src/Social/WallBundle/Resources/views/layout.html.twig  #}

{% extends "::layout.html.twig" %}

{% block body %}
	<div class="span7" id="block_publish">
    	{% block publication %}
    	{% endblock %}
    </div>
{% endblock %}